.gameWrap {
    display: block;
    position: relative;
    padding: 7px;
    background: #bdbdbd;
    border-bottom: solid 2px #707070;
    border-right: solid 2px #707070;
    border-top: solid 2px #fff;
    border-left: solid 2px #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0 auto;
    width: 238px;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;  
}

.infoButton {
  cursor:help;
  display:block;
  margin: 0 0 3px auto;
  width:18px;
  height:18px;
  text-align:center;
  vertical-align: middle;
  border-bottom: solid 2px #707070;
  border-right: solid 2px #707070;
  border-top: solid 2px #fff;
  border-left: solid 2px #fff;
  font-weight: bold;
}

.menu {
  margin: 5px auto;
  text-align: center;
  background: #bdbdbd;
  display: block;
  width:240px;
  border-bottom: solid 2px #fff;
  border-right: solid 2px #fff;
  border-top: solid 2px #7b7b7b;
  border-left: solid 2px #7b7b7b;  
}

.menu input {
  width: 40px;
  text-align: center;
  padding: 2px 5px;
  outline: none;
}

.menu input.text:focus {
  border: none;
}

.menu button {
  cursor:pointer;
  width: 60px;
  text-align: center;
  background: #bdbdbd;
  display: inline-block;
  border-top: solid 4px #fff;
  border-left: solid 3px #fff;
  border-bottom: solid 4px #7b7b7b;
  border-right: solid 3px #7b7b7b; 
}

.pressed {
    cursor:unset!important;
    border-style: unset!important;
    font-weight: 700!important;
    padding: 5px 2px;
}

.field tbpdy  {
  
    table-layout: fixed;
}

.field  {
    table-layout: fixed;
    border-collapse: seperate;
    border-spacing: 0;
    border-bottom: solid 2px #fff;
    border-right: solid 2px #fff;
    border-top: solid 2px #7b7b7b;
    border-left: solid 2px #7b7b7b;
    margin: 5px auto;
    text-align:center;
    vertical-align: middle;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
}

.field td{
    display:inline-block;
    width: 21px;
    height: 21px;
    margin: 0;
    font-weight: 700;
    font-family: 'Arial Black',Arial,sans-serif;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
    cursor: default;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-color: #bdbdbd;
}

.closed {
    width: 23px;
    height: 23px;
    border-bottom: solid 2px #7b7b7b;
    border-right: solid 2px #7b7b7b;
    border-top: solid 2px #fff;
    border-left: solid 2px #fff;
}

.empty  {
    width: 23px;
    height: 23px;
    border-left: solid 1px #333;
    border-top: solid 1px #333;
    border-bottom: solid 1px #666;
    border-right: solid 1px #666;
}



.flag:after {
  content: '\1F6A9';
  color: #b00000;  
}

.question:after {
  content: '?';
  color: #3e3e3e;
}

.bomb:after {
  content: '\1F4A3';
  color: #b00000;
}

.bomb {
  padding-top:4px;
}

.menu input::-webkit-outer-spin-button,
.menu input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.gameUpdate {
  cursor:pointer;
  width: 18px;
  display: inline-block;
  border-top: solid 2px #fff;
  border-left: solid 2px #fff;
  border-bottom: solid 2px #7b7b7b;
  border-right: solid 2px #7b7b7b;
  vertical-align: middle;
  text-align: center;
  font-weight: bolder;
  margin-left: 7px;
  margin-right: 10px;
}

.newGame:after {
  content: '\1F60A';
  color: black;
}

.winGame:after  {
  content: '\1F60E';
  color: green;  
}

.faleGame:after {
  content: '\1F635';
  color: red; 
}

.infoBlock {    
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:100000;
    cursor:pointer;
}


.infoBlock .fon {
    background: #f6fcff;
    opacity:.8;
    position:fixed;
    width:100%;
    height:100%;
    cursor: default;
}
.infoBlock .infoText {
    box-sizing: border-box;  
    padding:10px 20px;
    border: 2px solid #aeaeae;
    background: #f6fcff;
    position:fixed;
    margin: 0 auto;
    top:5em;
    left: 0;
    right: 0;
    width:25em;
    box-shadow: 0 4px 10px 2px rgba(0,0,0,0.5);
}        
.closeblock {
    display:block;
    margin: -8px -18px 13px auto;
    width:18px;
    height:18px;
    text-align:center;
    vertical-align: middle;
    font-size: 23px;
    font-weight: bold;
    cursor:pointer;
    transform: rotate(45deg);
    text-align:center;
    color: #000000;
}
.closeblock:after {
    content: "+";   
}
.closeblock:hover {
    color: #aeaeae;    
}